langchain
langchain-openai
langchain_community
langgraph
pydantic
spacy 
scikit-learn 
nltk 
pandas 
matplotlib 
seaborn 
wordcloud 
plotly
google-api-python-client
bs4
joblib
langdetect
deep-translator

